@charset "UTF-8"

* {
	height: 100%;
	font-family: sans-serif;
	text-align: justify;
}

body{
	background-image: linear-gradient(to right, #D97B59, #8C3D35);
}

main {
	background-color: white;
	border-radius: 15px;
	box-shadow: 8px 7px 15px rgba(64, 53, 50, 0.610);
	width: 600px;
	padding: 10px;
	margin: auto;
}

p{
	text-align: justify;
}

h1 {
	color: #592C28;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(64, 44, 40, 0.590);
}

h2 {
	color: #592C28;
}